/* Empty. Add your own CSS if you like */

.list h4 {
    text-align: center;
}

.home-or h6 {
    text-align: center;
}

.results {
    overflow-y: scroll;
    height: 260px;
}

.results .item{
    margin:0px!important;
}

.prod-info {
    padding: 10px 20px;
}

.welcome-img {
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: #000;
}

button.btn-small {
    width: 48%;
    float: right;
}

.label-name h4 {
    padding-left: 14px;
    font-weight: 300;
    font-size: 16px;
}

.profile-img {
    text-align: center;
    padding: 10px 0;
}

.profile-img img {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.prod-info h4 {
    text-align: center;
}

.prod-info p {
    text-align: justify;
}

h1.title {
    text-align: center;
}

button.btn-smalls {
    width: 50%;
}

.welcome-img img {
    width: 100%;
}