/* Empty. Add your own CSS if you like */

.list h4 {
    text-align: center;
}

.home-or {
    position: relative;
}

hr.vertical-line {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    width: 100%;
}

.home-or h6 {
    z-index: 999999;
    text-align: center;
    background: #fff;
    width: 50px;
    margin: 10px auto;
}
.results{
overflow-y:scroll;
height:260px;
}
.prod-info{
    padding:10px 20px;
}
a{
    text-decoration: none;
}