<ion-view view-title="About Us">
  <ion-nav-buttons side="right">
    <div class="buttons button-right">
      <div class="dh-relative" ng-controller="YourBalCtrl">
        <button class="button button-icon ln-bell small-icon btn-view" ui-sref="app.notification"></button>
        <span class="badge badge-assertive btn-set span-abs" ng-hide="notificationCount==0"></span>
      </div>
        <button class="button button-icon ion-ios-loop-strong small-icon" ng-click="pullrefresh();"></button>
    </div>
  </ion-nav-buttons>
    <ion-content class="padding">
        <div class="incard">
            <div class="prod-info about">
<p>Barter is the first worlds oldest system of trade. We all have heard and studied in school about how people used to barter for sustenance before the advent of money, the currency.</p>
<p>SWAAP advocates the age old Barter system to be used by corporate /individual business for mutual win-win deals.</p>
<p>SWAAP has built its impeccable reputation on solid financials, ethical and vigilant trading practices and creating barter system that’s designed to help its vendors thrive. SWAAP’s vast and growing network of active vendors sets SWAAP apart in an important way: Bartering is not a hit or miss proposition. You will find what you need when You need it—and you’ll find endless opportunities to market your own goods and services to new customers and untapped markets. </p>
<p>With over 7 years of barter experience, SWAAP managers and principals have not only created one of world’s finest barter systems, but also cultivated the knowledge to understand and respect clients purchasing guidelines, means of distribution and windows of opportunity.</p>
<p>A true focus on service, rock solid financial stability and a reputation for integrity and Transparency in all its dealings, have made SWAAP the #1 barter company for the best names in business. SWAAP vendors comprise all facets of industry, Print &#38; Television Media, FMCG, Hospitality, Real-estate, your neighborhood eatery, etc.   Smart businesses are growing more productive, efficient and successful with the power of barter.</p>
<p>With SWAAP, barter becomes a smart part of your business strategy. You can improve your Cash-flow, profit picture and sales efficiency all through corporate barter. As your trading partner, SWAAP makes sure that you receive quality personal service to get you exactly what you need.</p>

<p>As it is the want with many other industries, SWAAP too witnessed mushrooming of Barter companies after SWAAP started growing and the industry started accepting the Barter system. The competition however did not deter SWAAP and it went about its business in a methodical fashion becoming a pan – India enterprise.</p>
<p>SWAAP realizes that companies have options in choosing a barter company partner. There are quite a few reasons why SWAAP has become the barter company of choice for blue chip brands and small companies across the country, but one word sums it up all: <b>Trust.</b></p>
            </div>
        </div>
    </ion-content>
    </ionview>
