<ion-view view-title="Product Details">
    <ion-content class="padding">
        <div class="incard">
            <div class="profile-img">
                <img ng-src={{getsinglepro.image|serverimage}}>
                <h3>{{getsinglepro.name}}</h3>
            </div>
            <div class="list padtop5">

                <div class="list">
                    <ion-item class="item">

                        <span class="item-note text-capitalize">
                        <input type="text" ng-model="getsinglepro.price" readonly class="buy-inputdetails">
<!--						{{getsinglepro.price}}-->
					</span>
                        <h2>Price</h2>
                    </ion-item>
                    <ion-item>
                        <span class="item-note text-capitalize">
                        <input type="text" ng-model="getsinglepro.quantity" readonly class="buy-inputdetails">
<!--						{{getsinglepro.quantity}}-->
					</span>
                        <h2>Quantity</h2>
                    </ion-item>

                    <!--
				<ion-item class="item">
					SKU
					<div class="item-note text-capitalize">
						{{getsinglepro.sku}}
					</div>
				</ion-item>
-->
                    <ion-item>

                        <span class="item-note text-capitalize">
                        <input type="text" ng-model="getsinglepro.categoryname" readonly class="buy-inputdetails">
<!--						{{getsinglepro.categoryname}}-->
					</span>
                        <h2>Category</h2>
                    </ion-item>

                    <ion-item>
                        <span class="item-note text-capitalize">
						Avaliable
					</span>
                        <h2>Status</h2>
                    </ion-item>
                    <ion-item ng-click=getallprod(getsinglepro.user);>

                        <span class="item-note text-capitalize blue">
                         <input type="text" ng-model="getsinglepro.shopname" readonly class="buy-inputdetails">
<!--						{{getsinglepro.shopname}}-->
					</span>
                        <h2>Shop</h2>
                    </ion-item>
                    <div class="item">
                        Description
                    </div>
                    <div class="item item-text-wrap">
                        <div class="input itemproducts">
                            <p>{{getsinglepro.description}}</p>
                        </div>
                    </div>
                    <!--
                <div class="padding-horizontal">
                    <a class="button button-block button-outline button-balanced" href="#/app/dealerprd">
                View More Products
            </a>
                </div>
-->
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="footer-shop ion-item balanced" ng-click="openform1(getsinglepro.id)" ng-if="disableid!=getsinglepro.user">
        <h4>Buy Now</h4>
    </ion-footer-bar>
</ion-view>