<ion-view>
    <ion-content >
        <div class="pop text-center">
            <div class="popup-head mi">
                <p>Enter Your Member ID</p>
            </div>
            <div class="popup-body bor">

                <input type="number" ng-model="forgot.email" placeholder="Member ID">

            </div>
            <div class="margin-top10">
                <button class="button button-balanced" ng-click="forgotPassword(forgot.email)">Send</button>
                <button class="button button-balanced " ng-click="closPop()">Cancel</button>
            </div>
        </div>
    </ion-content>
</ion-view>
