<ion-view ng-controller="LoginCtrl">
    <ion-content >
        <div class="pop text-center" >
            <div class="popup-head mi">
              <p>Enter Your Member ID</p>
            </div>
            <div class="popup-body bor">

                <input type="email" placeholder="Member ID">

         </div>
<div class="margin-top10">
  <button class="button button-balanced ">Send</button>
                  <button class="button button-balanced " ng-click="closPop()">Cancel</button>
</div>
        </div>
    </ion-content>
</ion-view>
