<ion-view view-title="Find Shops">

    <ion-content class="padding">

        <div class="incard">

            <label class="item item-input item-select area">
                <div class="input-label">
                    City
                </div>
                <select ng-model="home.area">
                    <option value="">Mumbai</option>
                    <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>
                </select>
            </label>

            <label class="item item-input item-select area">
                <div class="input-label">
                    Area
                </div>
                <select ng-model="home.area">
                    <option value="">All</option>
                    <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>
                </select>
            </label>

            <label class="item item-input item-select area">
                <div class="input-label">
                    Categories
                </div>
                <select ng-model="home.category">
                    <option value="">All</option>
                    <option ng-repeat="categories in user.category" value="{{categories.id}}">{{categories.name}}</option>
                </select>

            </label>
            <div class="home-or">
                <h6>- OR -</h6>
            </div>
            <!--            <div class="item item-input area">-->
            <div class="row">
                <div class="col">
                    <h5 class="member">Membership No.</h5>
                </div>
                <div class="col membershipno">
                    <input type="text" id="normal-field" ng-model="home.membershipno">
                </div>
            </div>
            <div class="padding text-center">
                <button class="button button-balanced pr-button" ng-click="memfunc(home);">Search</button>
            </div>

        </div>
    </ion-content>
</ion-view>
