<ion-view view-title="Online">
  <ion-nav-buttons side="right">
    <div class="dh-relative">
      <button class="button button-icon ln-bell small-icon btn-view" ng-controller="YourBalCtrl" ng-click="pullrefresh();"></button>
      <span class="badge badge-assertive btn-set span-abs">0</span>
    </div>

  </ion-nav-buttons>
    <ion-content class="padding">



        <div class="incard brdr-select">
          <div class="header-card">Find Products</div>
            <div>
                <label class="item item-input item-select area">
                    <div class="input-label">
                        Area
                    </div>
                    <select ng-model="home.area">
                        <option value="">Mumbai</option>
                        <!--                        <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>-->
                    </select>
                </label>
                <label class="item item-input item-select area">
                    <div class="input-label">
                        Categories
                    </div>
                    <select ng-model="product.category">
                        <option value="">All</option>
                        <option ng-repeat="categories in user.category" value="{{categories.id}}">{{categories.name}}</option>
                    </select>
                </label>

                <label class="item item-input">
                  <span class="input-label">Keyword</span>
                    <input type="text" ng-model="product.productname">
                </label>
                <div class="home-or">
                    <h6>- OR -</h6>
                </div>
                <!--            <div class="item item-input area">-->
                <label class="item item-input">
                  <span class="input-label">Shop Name</span>
                    <input type="text" ng-model="product.membershipno">
                </label>
                <div class="padding-horizontal text-center p20 p15">
                    <!--                    <button class="button button-block button-outline button-balanced" ng-click="memfunc(home);">Search</button>-->
                    <button class="button button-balanced pr-button" ng-click="searchproduct(product);">Search</button>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
