<ion-view view-title="Find Hotels">
    <ion-content class="padding">
        <div class="incard">
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Country
                    </div>
                    <select>
                        <option selected>India</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        City
                    </div>
                    <select>
                        <option selected>Mumbai</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Hotels
                    </div>
                    <select>
                        <option selected>Taj</option>
                    </select>
                </label>
                <label class="item item-input">
                  <span class="input-label">Check in date</span>
                    <input type="date" min="{{today}}">
                </label>
                <label class="item item-input">
                  <span class="input-label">Check out date</span>
                    <input type="date" min="{{today}}">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Number of Rooms
                    </div>
                    <select>
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Number of Adults
                    </div>
                    <select>
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Number of Childrens
                    </div>
                    <select>
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
            </div>
        </div>
        <button class="button button-balanced button-block">Submit</button>

    </ion-content>
</ion-view>
