<ion-view hide-nav-bar="true">

    <!--
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-loop-strong small-icon" ng-controller="YourBalCtrl" ng-click="dorefresh();"></button>
    </ion-nav-buttons>
-->
    <ion-header-bar class="bar-royal" align-title="center">
        <div class="buttons button-left">
            <button class="button button-icon ion-navicon no-hide" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Home</h1>
        <div class="buttons button-right">
            <button class="button button-icon ion-ios-loop-strong small-icon" ng-controller="YourBalCtrl" ng-click="pullrefresh();"></button>
        </div>
    </ion-header-bar>

    <!--
    <div class="header">
        <h1 class="title">Home</h1>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-loop-strong small-icon" ng-controller="YourBalCtrl" ng-click="dorefresh();"></button>
        </ion-nav-buttons>
    </div>
-->

    <ion-content class="padding">
        <ion-refresher pulling-text="Pull To Refresh" on-refresh="pullrefresh();" refreshing-text="Refreshing.."></ion-refresher>

        <div class="incard">
            <div class="profile-img" ng-controller="ProfileCtrl">
                <img ng-src="{{profile.shoplogo|serverimage}}">
                <h3>{{profile.shopname}}</h3>
            </div>


            <div class="padtop5">
                <ion-item class="my-balcont">
                    <div class="row text-center">
                        <div class="col">
                            <div class="balance bod-right">
                                <h4 class="calm">{{pb.yourbalance.purchasebalance}}</h4>
                                <div class="label-name">
                                    Purchase Balance
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="balance">
                                <h4 class="calm">{{pb.yourbalance.salesbalance}}</h4>
                                <div class="label-name">
                                    Sell Balance
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>

            <div class="padding-horizontal" ng-controller="YourBalCtrl">
                <button class="button button-block button-balanced" ng-click="openedit();">
                    Add Balance
                </button>
            </div>



            <!--  jagruti teting
                    <form action="http://wohlig.co.in/osb/payumoney/PayUMoney_form.php" method="post">
                        <input type="text" name="amount">
                        <input type="text" name="firstname">
                        <input type="text" name="email">
                        <input type="text" name="phone">
                        <input type="text" name="productinfo">
                        <input type="text" name="surl" value="http://wohlig.co.in/osb/payumoney/success.php">
                        <input type="text" name="furl" value="http://wohlig.co.in/osb/payumoney/failure.php">
                        <input type="submit" value="Pay">
                    </form>
-->


        </div>

        <div class="incard">
            <div class="button-block bars">
                <a href="#/app/products/0/0/0" class="button button-royal button-block">Online</a>
                <!--                <a class="button button-outline button-royal" ng-click="offline()" ng-class="offlineclass">Offline</a>  -->
                <a class="button button-royal button-block" ng-click="memfunc(home);">Offline</a>
            </div>
<!--

            <div class="header-card" ng-if="tabvalue == 1">Find Products</div>
            <div class="header-card" ng-if="tabvalue == 2">Find Shops</div>
-->

<!--
            <div class="" ng-if="tabvalue == 1">
                <label class="item item-input item-select area">
                    <div class="input-label">
                        Area
                    </div>
                    <select ng-model="home.area">
                        <option value="">Mumbai</option>
                    </select>
                </label>

                <label class="item item-input item-select area">
                    <div class="input-label">
                        Categories
                    </div>
                    <select ng-model="product.category">
                        <option value="">All</option>
                        <option ng-repeat="categories in user.category" value="{{categories.id}}">{{categories.name}}</option>
                    </select>
                </label>

                <div class="row">
                    <div class="col">
                        <h5 class="member">Keyword</h5>
                    </div>
                    <div class="col membershipno">
                        <input type="text" id="" ng-model="product.productname">
                    </div>
                </div>
                <div class="home-or">
                    <h6>- OR -</h6>
                </div>
                            <div class="item item-input area">
                <div class="row">
                    <div class="col">
                        <h5 class="member">Membership No.</h5>
                    </div>
                    <div class="col membershipno">
                        <input type="text" id="normal-field" ng-model="product.membershipno">
                    </div>
                </div>
                <div class="padding-horizontal">
                    <button class="button button-block button-outline button-balanced" ng-click="searchproduct(product);">Search</button>
                </div>
            </div>
-->
<!--
            <div class="" ng-if="tabvalue == 2">
                <label class="item item-input item-select area">
                    <div class="input-label">
                        City
                    </div>
                    <select ng-model="home.area">
                        <option value="">Mumbai</option>
                        <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>
                    </select>
                </label>

                <label class="item item-input item-select area">
                    <div class="input-label">
                        Area
                    </div>
                    <select ng-model="home.area">
                        <option value="">All</option>
                        <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>
                    </select>
                </label>


                <label class="item item-input item-select area">
                    <div class="input-label">
                        Categories
                    </div>
                    <select ng-model="home.category">
                        <option value="">All</option>
                        <option ng-repeat="categories in user.category" value="{{categories.id}}">{{categories.name}}</option>
                    </select>

                </label>
                <div class="home-or">
                    <h6>- OR -</h6>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="member">Membership No.</h5>
                    </div>
                    <div class="col membershipno">
                        <input type="text" id="normal-field" ng-model="home.membershipno">
                    </div>
                </div>
                <div class="padding-horizontal">
                    <button class="button button-block button-outline button-balanced" ng-click="memfunc(home);">Search</button>
                </div>
            </div>
-->

        </div>
    </ion-content>
</ion-view>