<ion-view view-title="Offline">
  <ion-nav-buttons side="right">
    <div class="buttons button-right">
      <div class="dh-relative" ng-controller="YourBalCtrl">
        <button class="button button-icon ln-bell small-icon btn-view" ui-sref="app.notification"></button>
        <span class="badge badge-assertive btn-set span-abs" ng-hide="notificationCount==0"></span>
      </div>
        <button class="button button-icon ion-ios-loop-strong small-icon" ng-click="pullrefresh();"></button>
    </div>

  </ion-nav-buttons>
    <ion-content class="padding">

        <div class="incard brdr-select">
            <div class="header-card">Find Shops</div>
            <label class="item item-input item-select area">
                <div class="input-label">
                    City
                </div>
                <select ng-model="home.area">
                    <option value="">Mumbai</option>
                    <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>
                </select>
            </label>

            <label class="item item-input item-select area">
                <div class="input-label">
                    Area
                </div>
                <select ng-model="home.area">
                    <option value="">All</option>
                    <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>
                </select>
            </label>

            <label class="item item-input item-select area">
                <div class="input-label">
                    Categories
                </div>
                <select ng-model="home.category">
                    <option value="">All</option>
                    <option ng-repeat="categories in user.category" value="{{categories.id}}">{{categories.name}}</option>
                </select>

            </label>
            <div class="home-or">
                <h6>- OR -</h6>
            </div>
            <!--            <div class="item item-input area">-->

            <label class="item item-input">
              <span class="input-label">Membership No.</span>
                <input type="text" ng-model="home.membershipno">
            </label>

            <div class="padding text-center">
                <button class="button button-balanced pr-button" ng-click="memfunc(home);">Search</button>
            </div>

        </div>
    </ion-content>
</ion-view>
