<ion-view view-title="My Products">
    <ion-nav-buttons side="right">
      <div class="dh-relative">
        <button class="button button-icon ln-bell small-icon btn-view" ng-controller="YourBalCtrl" ng-click="pullrefresh();"></button>
        <span class="badge badge-assertive btn-set span-abs"></span>
      </div>
        <button class="button button-icon ion-plus-round small-icon" ng-click="openedit();"></button>
    </ion-nav-buttons>


    <ion-content class="padding">
        <div class="incard" ng-if="products!=0">
            <div class="list">
                <!--                <div class="item item-thumbnail-left bod-bottom" ng-repeat="pro in products" ng-click="productdetails(pro.id);openprdtdetails();">-->
                <div class="item item-thumbnail-left bod-bottom" ng-repeat="pro in products" ng-click="productdetails(pro.id); openprdtedit();">
                    <img ng-src="{{pro.image|serverimage}}">
                    <h3 class="leftname">Name: <span>{{pro.name}}</span></h3>
                    <h3 class="leftname">Price: <span>{{pro.price}}</span></h3>
                    <h3 class="leftname">Quantity: <span>{{pro.quantity}}</span></h3>
                    <h3 class="leftname" ng-if="pro.status==1 && pro.moderated==1">Status: <span>Available</span></h3>
                    <h3 class="leftname" ng-if="pro.status==0 && pro.moderated==1">Status: <span>Disabled</span></h3>
                    <h3 class="leftname" ng-if="pro.moderated==0"><span style="color:red">Waiting for approval</span></h3>
                    <h3 class="leftname" ng-if="pro.moderated==2">Status: <span style="color:red">Rejected</span></h3>
                    <!--
                <a class="item item-thumbnail-left bod-bottom" href="#">
                    <img src="img/icon.png">
                    <h2 class="leftname">Name: <span>XperiaZ</span></h2>
                    <h2 class="leftname">Price: <span>40000</span></h2>
                </a>
-->
                </div>
                <div class="padding text-center p15">
                    <button class="button pr-button button-balanced" ng-click="openedit();">Add More Products</button>
                </div>
            </div>
        </div>
        </div>
        <div class="incard" ng-if="products==0">
            <div class="list">
                <div class="text-center padding" >
                    <figure>
                        <img src="img/nop.jpg" class="full-image" style="width:110px;">
                    </figure>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
