<ion-view view-title="Notification">
  <ion-nav-buttons side="right">
    <div class="buttons button-right">
      <div class="dh-relative" ng-controller="YourBalCtrl">
        <button class="button button-icon ln-bell small-icon btn-view" ng-click="pullrefresh();"></button>
        <span class="badge badge-assertive btn-set span-abs" ng-hide="notificationCount==0"></span>
      </div>
        <button class="button button-icon ion-ios-loop-strong small-icon" ng-click="pullrefresh();"></button>
    </div>

  </ion-nav-buttons>
    <ion-content class="padding">
      <ion-refresher
     pulling-text="Pull to refresh..."
     on-refresh="pullrefresh()">
   </ion-refresher>
       <p class="royal padding text-center" ng-if="notification.length==0">{{msg}}</p>
        <div class="incard notification" ng-repeat="n in notification">
          <div class="close-btn" ng-click="readNotification($index, n.id)">
            <i class="ln-cross"></i>
          </div>
            <div class="header-cards">
                <span style="float:right; font-size:14px;">{{n.date | date:'dd MMM yyyy'}} {{n.time | ampmtime}}</span>
            </div>
            <p>{{n.message}}</p>
        </div>
        <ion-infinite-scroll on-infinite="loadMoreNotification()" ng-if="keepscrolling" distance="25%">
        </ion-infinite-scroll>
<!--
        <div class="incard notification">
            <div class="header-cards">Business
                <span style="float:right; font-size:14px;">15-12-2014</span>
            </div>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
-->
<!--
        <div class="incard notification">
            <div class="header-cards">Business
                <span style="float:right; font-size:14px;">15-12-2014</span>
            </div>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
-->
    </ion-content>
</ion-view>
