<ion-view view-title="My Orders">
  <ion-nav-buttons side="right">
    <div class="dh-relative">
      <button class="button button-icon ln-bell small-icon btn-view" ng-controller="YourBalCtrl" ng-click="pullrefresh();"></button>
      <span class="badge badge-assertive btn-set span-abs"></span>
    </div>

  </ion-nav-buttons>
   <div class="tabs-striped tabs-background-balanced tabs-color-light">
      <div class="tabs">
         <a class="tab-item" ng-click="tabvalue = 1;" ng-class="{'active': tabvalue == 1}">
        My Purchase
      </a>
         <a class="tab-item" ng-click="tabvalue = 2;" ng-class="{'active': tabvalue == 2}">
        My Sale
      </a>
      </div>
   </div>
   <ion-content class="padding">
      <div class="incard">
         <div class="list" ng-if="tabvalue == 1" ng-if="mypurchase.length>0">
            <div class="item item-thumbnail-left" ng-click="openpurchase(p);" ng-repeat="p in mypurchase">
               <img ng-src={{p.productimage|serverimage}}>
               <h3 class="leftnames">Name: <span>{{p.productname}}</span></h2>
                    <h3 class="leftnames">Price: <span>{{p.price}}</span></h3>
               <h3 class="leftnames">Order ID: <span>{{p.id}}</span></h3>
               <h3 class="leftnames">Status: <span>{{p.orderstatusname}}</span></h3>
            </div>
         </div>
         <div class="list" ng-if="mypurchase.length==0 && tabvalue == 1">
            <div class="text-center royal padding">
               <figure>
                  <img src="img/nopr.jpg" class="full-image" style="width:110px;">
               </figure>
            </div>
         </div>
         <div class="list" ng-if="tabvalue == 2" ng-if="ordr.length>0">
            <!--                <div class="item item-thumbnail-left bod-bottom" ng-repeat="o in ordr">-->
            <div class="item item-thumbnail-left" ng-click="opensale(o);" ng-repeat="o in ordr">
               <img ng-src={{o.productimage|serverimage}}>
               <h3 class="leftnames">Name: <span>{{o.productname}}</span></h3>
               <h3 class="leftnames">Price: <span>{{o.price}}</span></h3>
               <h3 class="leftnames">Order ID: <span>{{o.id}}</span></h3>
               <h3 class="leftnames">Status: <span>{{o.orderstatusname}}</span></h3>
            </div>
         </div>
         <div class="list" ng-if="ordr.length==0 && tabvalue == 2">
            <div class="text-center royal padding">
               <figure>
                  <img src="img/nosale.jpg" class="full-image" style="width:110px;">
               </figure>
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>
