<ion-view view-title="Products">
   
     <ion-nav-buttons side="right">
        <button class="button button-icon ion-arrow-swap small-icon arrows" ng-click="opensort();"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="incard">
            <div class="header-card">Online Search</div>
            <label class="item item-input item-select area">
                <div class="input-label">
                    Area
                </div>
                <select ng-model="home.area">
                    <option value="">Mumbai</option>
                    <!--                    <option ng-repeat="singlearea in area" value="{{singlearea.id}}">{{singlearea.name}}</option>-->
                </select>
            </label>

            <label class="item item-input item-select area">
                <div class="input-label">
                    Categories
                </div>
                <select ng-model="product.category" ng-options="cat.id as cat.name for cat in category">
                </select>
<!--
           <select ng-model="product.category">
			   {{category}}
               <option ng-repeat="cat in category" value={{cat.id}}>{{cat.id}}{{cat.name}}</option>
            </select>
-->
            
            </label>

<!--
            <label class="item item-input item-select area">
                    <div class="input-label">
                        Categories
                    </div>
                    <select ng-model="product.category">
                        <option value="">All</option>
                        <option ng-repeat="categories in user.category" value="{{categories.id}}">{{categories.name}}</option>
                    </select>
                </label>
-->
           
            <div class="row">
                <div class="col">
                    <h5 class="member">Keyword</h5>
                </div>
                <div class="col membershipno">
                    <input type="text" id="" ng-model="product.productname">
                </div>
            </div>

            <div class="home-or">
                <h6>- OR -</h6>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="member">Shop Name</h5>
                </div>
                <div class="col membershipno">
                    <input type="text" id="normal-field" ng-model="product.membershipno">
                </div>
            </div>

            <div class="padding p15 text-center">
                <a class="button pr-button button-balanced" ng-click="searchproduct(product);">Search</a>
            </div>
        </div>

        <div class="incard">
            <div class="header-card">Products</div>
            <div class="row productsCol" ng-repeat="sp in spr" ng-if="spr.length>0">
                <div class="col col-33 text-center" ng-repeat="s in sp">
                <span ng-click="getproduct(s.productid)">
<!--                    <a href="#/app/productdetail">-->
                        <img ng-src={{s.image|serverimage}}  class="full-image">
                        <h5 class="bold">{{s.name}}</h5>
                        <h5 class="mt">{{s.price}}</h5>
                        </span>
<!--                    </a>-->
                </div>
                 
            </div>
          <div class="list" >
            <div class="text-center" ng-if="spr.length==0">
                         <figure>
                        <img src="img/nop.jpg" class="full-image" style="width:110px;">

                    </figure>

              </div>
            </div>
        </div>
         
    </ion-content>
</ion-view>