<ion-view view-title="Profile">

   <ion-nav-buttons side="right">
     <div class="buttons button-right">
       <div class="dh-relative" ng-controller="YourBalCtrl">
         <button class="button button-icon ln-bell small-icon btn-view" ng-click="pullrefresh();"></button>
         <span class="badge badge-assertive btn-set span-abs" ng-hide="notificationCount==0"></span>
       </div>
         
     </div>

      <a class="button button-icon ion-edit small-icon" ng-click="editpro(profile);" href="#/app/profile/edit"></a>
   </ion-nav-buttons>

   <ion-content class="padding">
     <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="pullrefresh()">
  </ion-refresher>
           <!-- <ion-refresher pulling-text="Pull To Refresh" on-refresh="pullrefresh();" refreshing-text="Refreshing.."></ion-refresher> -->
      <div class="incard">
         <div class="profile-img">
            <img ng-src="{{profile.shoplogo|serverimage}}">
            <h3>{{profile.shopname}}</h3>
         </div>
         <div class="list profile-cont padtop5">
            <ion-item class="">
               <h2 class="font-bold">Category</h2>

                <!-- <p>  </p> -->
                <p class="down-paragraph">{{profile.category}}</p>

            </ion-item>
            <div class="item item-text-wrap header">
               <h2> Address</h2>
            </div>
            <div class="item item-text-wrap">
               <div class="input itemproducts">
                  <p> {{profile.billingaddress}}</p>
               </div>
            </div>
            <ion-item class="item-left">
               <h2>City</h2>
               <div class="pull-right item-right text-capitalize">
                  {{profile.billingcity}}
               </div>
            </ion-item>
            <ion-item class="item-left">
               <h2>Area</h2>
               <div class="pull-right item-right text-capitalize">
                  {{profile.area}}
               </div>
            </ion-item>
            <ion-item class="item-left">
               <h2>State</h2>
               <div class="pull-right item-right text-capitalize">
                  {{profile.billingstate}}
               </div>
            </ion-item>
            <ion-item class="item-left">
               <h2>Pincode</h2>
               <div class="pull-right item-right text-capitalize">
                  {{profile.billingpincode}}
               </div>
            </ion-item>
            <div class="item item-text-wrap header">
               <h2>Description</h2>
            </div>
            <div class="item item-text-wrap">
               <div class="input itemproducts">
                  <p>{{profile.description}}</p>
               </div>
            </div>
            <ion-item class="item-left">
               <h2>Cell Number</h2>
               <div class="pull-right item-right">
                  {{profile.shopcontact1}}
               </div>
            </ion-item>
            <ion-item class="item-left">
               <h2>Landline No.</h2>
               <div class="pull-right item-right">
                  {{profile.shopcontact2}}
               </div>
            </ion-item>
            <!--
                <ion-item class="item-left numbers">
                    <div class="pull-right item-right">
                        022 25454565
                    </div>
                </ion-item>
-->
            <ion-item class="item-left">
               <h2>Email Id</h2>
               <div class="pull-right item-right">
                  {{profile.shopemail}}
               </div>
            </ion-item>
            <ion-item class="item-left">
               <h2>Website</h2>
               <div class="pull-right item-right">
                  {{profile.website}}
               </div>
            </ion-item>
            <div class="mt20">
               <div class="item item-text-wrap header" ng-if="pic.length>0">
                  <h2>Shops Photos</h2>
               </div>
               <div class="row">
                  <div class="col input-div" ng-repeat="p in pic" ng-click="openshop($index);">
                     <div class="image-hold" ng-style="{'background-image':'url({{p.photo|serverimage}})'}">
                     </div>
                  </div>
               </div>
            </div>
            <div class="mt20">
               <div class="item item-text-wrap header" ng-if="image.length>0">
                  <h2>Products Photos</h2>
               </div>
               <div class="row">
                  <div class="col input-div" ng-repeat="i in image" ng-click="openpswds($index);">
                     <div class="image-hold" ng-style="{'background-image':'url({{i.photo|serverimage}})'}">
                     </div>
                  </div>
               </div>
            </div>
            <div class="padding text-center p20">
               <button class="button pr-button button-balanced" ng-click="openPassword();">Reset Password</button>
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>
