<ion-view view-title="Offline" class="bar-royal">
    <ion-content class="padding searcher">
        <div class="incard search">
            <div class="header-card">Offline Search</div>
            <label class="item item-input item-select area">
                <div class="input-label">
                    City
                </div>
                <select>
                    <option value="">Mumbai</option>
<!--                    <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>-->
                </select>
            </label>

            <label class="item item-input item-select area">
                <div class="input-label">
                    Area
                </div>
                <select ng-model="home.area">
                    <option value="0">All</option>
                    <option ng-repeat="areas in user.area" value="{{areas.id}}">{{areas.name}}</option>
                </select>
            </label>


            <label class="item item-input item-select area">
                <div class="input-label">
                    Categories
                </div>
                <select ng-model="home.category">
                    <option value="0">All</option>
                    <option ng-repeat="categories in user.category" value="{{categories.id}}">{{categories.name}}</option>
                </select>

            </label>
            <div class="home-or">
                <h6>- OR -</h6>
            </div>
            <!--            <div class="item item-input area">-->
            <div class="row">
                <div class="col">
                    <h5 class="member">Membership No.</h5>
                </div>
                <div class="col membershipno">
                    <input type="text" id="normal-field" ng-model="home.membershipno">
                </div>
            </div>
            <div class="padding-horizontal">
                <button class="button button-block button-outline button-balanced" ng-click="memfunc(home);">Search</button>
            </div>
        </div>
        <div class="incard pad-btm" ng-if="recall.area.name || recall.category.name">
            <ion-list class="lesspadding">
                <ion-item class="area" ng-if="recall.area.name">
                    <div class="row">
                        <div class="col">
                            <h3>Area</h3>
                        </div>
                        <div class="col">
                            <div class="flt-right">{{recall.area.name}}</div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="category" ng-if="recall.category.name">
                    <div class="row">
                        <div class="col">
                            <h3>Category</h3>
                        </div>
                        <div class="col">
                            <div class="flt-right">{{recall.category.name}}</div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="incard search">
            <ion-list class="lesspadding" ng-if="shops.length>0">
                <ion-item class="headed">
                    <div class="row">
                        <div class="col">Name</div>
                        <div class="col">Sell Balance</div>
                    </div>
                </ion-item>
                <ion-item href="#/app/shop/{{shop.id}}" ng-click="shopclick(shop);" ng-repeat="shop in shops ">
                    <div class="row">
                        <div class="col prename">
                            </i>{{shop.name}}</div>
                        <div class="col"><span class="balanced amount">{{shop.sellbalance}}</span>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <h5 ng-if="shops.length==0" style="text-align:center;">No Shop Found</h5>
        </div>

    </ion-content>
</ion-view>