<ion-view view-title="Selling Approval">
  <ion-nav-buttons side="right">
    <div class="dh-relative">
      <button class="button button-icon ln-bell small-icon btn-view" ng-controller="YourBalCtrl" ng-click="pullrefresh();"></button>
      <span class="badge badge-assertive btn-set span-abs"></span>
    </div>

  </ion-nav-buttons>
    <ion-content class="padding">
      <ion-refresher
     pulling-text="Pull to refresh..."
     on-refresh="pullrefresh()">
   </ion-refresher>
        <div class="incard" ng-if="req.length==0">
            <div class="list">
                <div class="text-center royal padding">
                    <figure>
                        <img src="img/noap.jpg" class="full-image" style="width:110px;">
                    </figure>
                </div>
            </div>
        </div>
        <div class="incard" ng-repeat="r in req">
            <div class="list">
                <ion-item class="item item-thumbnail-left item-text-wrap">
                    <div class="row">
                        <div class="col-25">
                            <div class="">
                                <div class="img-hlodss" ng-style="{'background-image':'url({{r.shoplogo|serverimage}})'}"></div>
                            </div>
                        </div>
                        <div class="col-75" ng->
                            <div class="sell-cont">
                                <h2>{{r.shopname}}</h2>
                                <p>Amount: {{r.amount}}</p>
                                <p ng-if="r.reason">Reason: {{r.reason}}</p>
                                <textarea style="width:100%;font-size:13px;border: 1px solid #ccc;margin: 10px 0;padding: 4px;" ng-model="reason" rows="3" placeholder="Enter your reason"></textarea>
                                <button class="button button-small button-outline button-balanced" ng-click="accept(r,reason);" ng-hide="hideAccept">Accept</button>
                                <button class="button button-small button-outline button-assertive" ng-click="decline(r,reason);" ng-hide="hideAccept">Decline</button>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
