<ion-view view-title="Suggestion">
    <ion-content class="padding">
        <div class="incard">
            <div class="suggestion">
               <div class="text-suggestion">
                <textarea placeholder="Suggestion" class="text-area"></textarea>
                </div>
                <div class="padding-horizontal">
                    <button class="button button-block button-balanced" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>