<ion-modal-view>
  <ion-header-bar class="bar-balanced" align-title="center">
      <h1 class="title">Terms And Conditions</h1>
      <div class="buttons">
          <button class="button button-clear" ng-click="closemodals()">Close</button>
      </div>
  </ion-header-bar>
  <ion-content class="has-down">

  </ion-content>

  <div class="down text-center">
    <ion-list>
  <ion-checkbox ng-model="filter.balanced">I Agree Terms & Conditions</ion-checkbox>
  </ion-list>
      <button class="button button-block button-balanced" ng-click="closemodal();">Continue</button>
  </div>

</ion-modal-view>
