<ion-modal-view view-title="Add Balance">
    <ion-header-bar class="bar-royal" align-title="center">
        <h1 class="title">Add Balance</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="incard">
            <form ng-submit="doLogin();">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Amount in Barter:</span>
                        <input type="text" ng-model="add.amount" ng-change="changeamountinr(add.amount);">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Amount in INR:</span>
                        <input type="text" ng-model="add.amountinr" ng-change="changeamount(add.amountinr);">
                        <!-- <span>{{add.amount*percent/100|number:2}}   </span>    -->
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Reason:</span>
                        <input type="text" ng-model="add.reason">
                    </label>
                    <div class="padding-horizontal">
                        <button class="button button-block button-balanced" type="submit" ng-click="addbalance(add.amount,add.reason);">Add Balance</button>
<!--                        <button class="button button-block button-balanced" type="submit" ng-click="topayment()">Add Balance</button>-->
                    </div>
                    
                    
<!--     Payment button               -->
<!--                    <div class="pm-button"><a href="https://www.payumoney.com/paybypayumoney/#/1C83343220BD901D4F4102601A363341"><img src="https://www.payumoney.com//media/images/payby_payumoney/buttons/111.png" /></a></div>-->
                   
                   
                   
                </div>
            

            
            
        </div>
    </ion-content>
</ion-modal-view>