<ion-view view-title="Product Details">
	<ion-content class="padding">
		<div class="incard">
			<div class="profile-img">
				<img ng-src={{getsinglepro.image|serverimage}}>
				<h3>{{getsinglepro.name}}</h3>
			</div>
			<div class="list profile-cont padtop5">
				<ion-item class="item">
					Price
					<div class="item-note text-capitalize">
						{{getsinglepro.price}}
					</div>
				</ion-item>

				<ion-item class="item">
					Quantity
					<div class="item-note text-capitalize">
						{{getsinglepro.quantity}}
					</div>
				</ion-item>

				<ion-item class="item">
					SKU
					<div class="item-note text-capitalize">
						{{getsinglepro.sku}}
					</div>
				</ion-item>
				<ion-item class="item">
					Category
					<div class="item-note text-capitalize">
						{{getsinglepro.categoryname}}
					</div>
				</ion-item>

				<ion-item class="item">
					Status
					<div class="item-note text-capitalize">
						Avaliable
					</div>
				</ion-item>
				<ion-item class="item" ng-click=getallprod(getsinglepro.user);>
					Shop
					<div class="item-note text-capitalize blue">
						{{getsinglepro.shopname}}
					</div>
				</ion-item>
				<div class="item item-text-wrap header">
					Description
				</div>
				<div class="item item-text-wrap">
					<div class="input itemproducts">
                        <p>{{getsinglepro.description}}</p>
					</div>
				</div>
				<!--
                <div class="padding-horizontal">
                    <a class="button button-block button-outline button-balanced" href="#/app/dealerprd">
                View More Products
            </a>
                </div>
-->
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="footer-shop ion-item balanced" ng-click="openform1(getsinglepro.id)" ng-if="disableid!=getsinglepro.user">
		<h4>Buy Now</h4>
	</ion-footer-bar>
</ion-view>