<ion-view view-title="Products">
    <ion-content class="padding">
        <div class="incard">
            <div class="header-card">Croma</div>
            <!--
            <div class="row productsCol" ng-repeat="sp in spr">
                <div class="col col-33 text-center" ng-repeat="s in sp" ng-click="getproduct(s.productid)">
                   <a href="#/app/productdetail">
                    <img ng-src={{s.image|serverimage}} class="full-image">
                    <h5 class="bold">{{s.name}}</h5>
                    <h5>{{s.price}}</h5>
                    </a>
                </div>
            </div>
-->
            <div class="row productsCol">
                <div class="col col-33 text-center">
                    <a href="#/app/productdetail">
                        <img src="img/1.jpg" class="full-image">
                        <h5 class="bold">Xperia Z</h5>
                        <h5>9000</h5>
                    </a>
                </div>
                <div class="col col-33 text-center">
                    <a href="#/app/productdetail">
                        <img src="img/1.jpg" class="full-image">
                        <h5 class="bold">Xperia Z</h5>
                        <h5>9000</h5>
                    </a>
                </div>
                <div class="col col-33 text-center">
                    <a href="#/app/productdetail">
                        <img src="img/1.jpg" class="full-image">
                        <h5 class="bold">Xperia Z</h5>
                        <h5>9000</h5>
                    </a>
                </div>
            </div>
            <div class="row productsCol">
                <div class="col col-33 text-center">
                    <a href="#/app/productdetail">
                        <img src="img/1.jpg" class="full-image">
                        <h5 class="bold">Xperia Z</h5>
                        <h5>9000</h5>
                    </a>
                </div>
                <div class="col col-33 text-center">
                    <img src="img/1.jpg" class="full-image">
                    <h5 class="bold">Xperia Z</h5>
                    <h5>9000</h5>
                </div>
                <div class="col col-33 text-center">
                    <a href="#/app/productdetail">
                        <img src="img/1.jpg" class="full-image">
                        <h5 class="bold">Xperia Z</h5>
                        <h5>9000</h5>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>