<ion-view view-title="FAQ's">
    <ion-content class="padding">
        <div class="incard">
            <div class="padding">
                <div class="faq-cont">
                    <p>
                        <b>Lorem Ipsum is simply dummy text?</b>
                        <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                </div>
                <div class="faq-cont">
                    <p>
                        <b>Lorem Ipsum is simply dummy text?</b>
                        <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                </div>
                <div class="faq-cont">
                    <p>
                        <b>Lorem Ipsum is simply dummy text?</b>
                        <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                </div>
                <div class="faq-cont">
                    <p>
                        <b>Lorem Ipsum is simply dummy text?</b>
                        <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                </div>
                <div class="faq-cont">
                    <p>
                        <b>Lorem Ipsum is simply dummy text?</b>
                        <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>