<ion-view view-title="FAQ's">
    <ion-content>
    <div class="prod-info">
    <h4>Lorem Ipsum is simply dummy text?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
    <h4>Lorem Ipsum is simply dummy text?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
    <h4>Lorem Ipsum is simply dummy text?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
    <h4>Lorem Ipsum is simply dummy text?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
    </div>
    </ion-content>
</ion-view>