<ion-view view-title="Welcome">
    <ion-content>
        <label class="item item-input">
            <span class="input-label">Area</span>
            <input type="text" placeholder="Enter Your Area">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Catergories
            </div>
            <select>
                <option>Mobile</option>
                <option selected>Personal Computers</option>
                <option>Laptops</option>
            </select>

        </label>
        <div class="home-or">
            <h6>- OR -</h6>
        </div>
        <label class="item item-input item-select">
            <div class="input-label">
                Memebership No.
            </div>
            <select>
                <option>123</option>
                <option selected>1234</option>
                <option>12345</option>
            </select>
        </label>
        <div class="padding">
            <a href="#/app/search">
                <button class="button button-block button-positive">Search</button>
            </a>
        </div>
    </ion-content>
</ion-view>