<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="incard">
           <div class="header-card">Find shops</div>
            <label class="item item-input area">
                <span class="input-label">Area</span>
                <input type="text" placeholder="Enter Your Area">
            </label>
            <label class="item item-input item-select area">
                <div class="input-label">
                    Catergories
                </div>
                <select>
                    <option>Mobile</option>
                    <option selected>Personal Computers</option>
                    <option>Laptops</option>
                </select>

            </label>
            <div class="home-or">
                <h6>- OR -</h6>
            </div>
            <label class="item item-input area">
                <span class="input-label">
                    Membership No.
                </span>
              <p>Please Select</p>
            </label>
            <div class="padding-horizontal">
                <a href="#/app/search">
                    <button class="button button-block button-outline button-balanced">Search</button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>