<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="incard">
            <div class="header-card">Find shops</div>
<!--
            <label class="item item-input area">
                <span class="input-label">Area</span>
                <input type="text" placeholder="Enter Your Area">
            </label>
-->
                       <label class="item item-input item-select area">
                <div class="input-label">
                    Area
                </div>
                <select>
                    <option selected>Dharavi</option>
                    <option>Airoli</option>
                </select>
            </label>
            <label class="item item-input item-select area">
                <div class="input-label">
                    Catergories
                </div>
                <select>
                    <option ng-repeat="categories in user.category">{{categories.name}}</option>
<!--
                    <option selected>Personal Computers</option>
                    <option>Laptops</option>
-->
                </select>

            </label>
            <div class="home-or">
                <h6>- OR -</h6>
            </div>
            <!--            <div class="item item-input area">-->
            <div class="row">
                <div class="col">
                    <h5 class="member">Membership No.</h5>
                </div>
                <div class="col">
                    <p class="home-p" ng-click="openedit();">Please Select</p>
                </div>
            </div>
            <!--            </div>-->
            <div class="padding-horizontal">
<!--                <a href="#/app/search">-->
                    <button class="button button-block button-outline button-balanced" ng-click="memfunc();">Search</button>
<!--                </a>-->
            </div>
        </div>
    </ion-content>
</ion-view>