<ion-modal-view>
    <ion-header-bar class="bar-royal" align-title="center">
        <h1 class="title">Sort By</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closesort()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="incard">
            <form class="filter-form">
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" name="group">
                        <div class="item-content main">
                            High to Low
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">
                        <div class="item-content main">
                            Low to High
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </form>
                                <div class="padding-horizontal btn-rest">
                        <button class="button button-block button-balanced">Submit</button>
                    </div>
        </div>
    </ion-content>
</ion-modal-view>