<ion-view view-title="My Products">
    <ion-content class="padding">
        <div class="incard">
            <div class="list">
                <a class="item item-thumbnail-left bod-bottom" href="#">
                    <img src="img/icon.png">
                    <h2 class="leftname">Name: <span>XperiaZ</span></h2>
                    <h2 class="leftname">Price: <span>40000</span></h2>
                </a>
                <a class="item item-thumbnail-left bod-bottom" href="#">
                    <img src="img/icon.png">
                    <h2 class="leftname">Name: <span>XperiaZ</span></h2>
                    <h2 class="leftname">Price: <span>40000</span></h2>
                </a>
            </div>
            <div class="padding">
                <button class="button button-block button-assertive" ng-click="openedit();">Add More Products</button>
            </div>
        </div>
    </ion-content>
</ion-view>