<ion-view view-title="My Orders">
    <ion-content class="padding">
        <div class="incard" ng-if="products!=0">
            <div class="list">
                <div class="item item-thumbnail-left bod-bottom">
                    <img src="img/icon.png">
                    <h2 class="leftnames">Name: <span>XperiaZ</span></h2>
                    <h2 class="leftnames">Price: <span>40000</span></h2>
                    <h2 class="leftnames">Transaction ID: <span>1234</span></h2>
                </div>
                <div class="item item-thumbnail-left bod-bottom">
                    <img src="img/icon.png">
                    <h2 class="leftnames">Name: <span>XperiaZ</span></h2>
                    <h2 class="leftnames">Price: <span>40000</span></h2>
                    <h2 class="leftnames">Transaction ID: <span>1234</span></h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>