<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <h1 class="title"> Membership No.</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <form class="item item-input-inset only-horizontal ">
                <label class="item-input-wrapper ">
                    <input type="text " placeholder="Membership No. " ng-model="m.membershipno" ng-change="doSearch(datasearch);" style="border: 0px;">
                </label>
                <button class="button button-icon ion-search " ng-click="mid(m);" type="submit "></button>
            </form>

        </ion-list>
 <div class="incard">
            <ion-list class="lesspadding">
                <ion-item class="headed">
                    <div class="row">
                        <div class="col">Name</div>
                        <div class="col">Sell Balance</div>
                    </div>
                </ion-item>
                <ion-item  href="" ng-click="shopclick(r);" value="{{r.searchresult[0].id}}" >
                    <div class="row" >
                        <div class="col">{{r.searchresult[0].name}}</div>
                        <div class="col"><span class="balanced amount">{{r.searchresult[0].sellbalance}}</span>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-modal-view>
