<ion-view view-title="Product">
    <ion-content>
        <div class="padding">
            <div>
                <label><b>Name:</b>
                </label><span>Nokia</span>
            </div>
            <div>
                <label><b>Sell Balance:</b>
                </label><span>15000</span>
            </div>
            <h5><b>Details:</b></h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <div>
                <div class="padding">
                    <button class="button button-block button-outline button-balanced" ng-click="openedit();">
                        Purchase
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>