<ion-view view-title="Profile">
    <ion-content class="padding">
        <div class="incard">
            <div class="profile-img">
                <img src="img/applelogo.jpg">
                <h3>Apple Store</h3>
            </div>

            <div class="list profile-cont">

                <!--
             <div class="item item-input item-prf">
    <input type="text" name="lname" value="Wohlig Technology" disabled>
</div>
-->

                <!--
<div class="item item-input item-prf">
    <div class="input-div">
        Area
    </div>
    <input type="text" name="lname" value="Mulund" disabled>
</div>
<div class="item item-input item-prf">
    <div class="input-div">
        Category
    </div>
    <input type="text" name="lname" value="Mobile" disabled>
</div>
-->
                <div class="item item-input item-text-wrap header">
                    <h2> Address</h2>
                </div>
                <div class="item item-input item-text-wrap">
                    <div class="input itemproducts">
                        Apple Store CST Mumbai-400 001.
                    </div>
                </div>
                <div class="item item-input item-text-wrap header">
                    <h2>Description</h2>
                </div>
                <div class="item item-input item-text-wrap">
                    <div class="input itemproducts">
                        The Apple Store is a chain of retail stores owned and operated by Apple Inc., dealing with computers and consumer electronics.
                    </div>
                </div>
                <div class="item item-input item-text-wrap header">
                    <h2>Shops Photos</h2>
                </div>
                <div class="item item-input item-text-wrap itemproducts">
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <!--
               <div class="input">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</div>
-->
                </div>
                <div class="item item-input item-text-wrap header">
                    <h2>Products Photos</h2>
                </div>
                <div class="item item-input item-text-wrap itemproducts">
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                </div>

                <!--
               <div class="input">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</div>
-->

                <!--        </div>-->
                <div class="btn-edit padding-horizontal">
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-balanced prf-edit">
                                Edit
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-assertive prf-reset" ng-click="openedit();">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="btn-edit padding">
            <button class="button button-block button-outline button-balanced">
                Edit
            </button>
        </div>
-->

    </ion-content>
    <!--
<ion-footer-bar class="footer-shop ion-item balanced">
    <h4>Edit</h4>
</ion-footer-bar>
-->
</ion-view>