<ion-view view-title="Profile">
    <ion-content>
        <div class="prod-info">
            <img src="img/ionic.png">
            <div>
                <label><b>Name</b>
                </label>
            </div>
            <h5><b>Details:</b></h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <div>
                <button class="button button-block button-positive" ng-click="openedit();">
                    Purchase
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>