<ion-view view-title="Edit Profile">
    <ion-content class="padding">
        <ion-list>
            <div class="incard">
                <form ng-submit="">
                    <div class="list">
                        <div class="profile-img" ng-click="changeprofileimage()">
                            <img src="{{profile.shoplogo|serverimage}}">
                            <div class="holder">Edit</div>
                        </div>
                        <div class="item item-input text-capitalize">
                            <input type="text" placeholder="Name" ng-model="profile.shopname">
                        </div>

                        <div class="item item-input item-select text-capitalize">
                            <div class="input-label different">
                                Area
                            </div>
                            <select ng-model="profile.area">
                                <option ng-repeat="a in areas" value="{{a.id}}">{{a.name}}</option>
                            </select>
                        </div>
                        <div class="item item-input item-select text-capitalize">
                            <div class="input-label different">
                                Category
                            </div>
                            <select ng-model="profile.name">
                                <option ng-repeat="c in cat" value="{{c.id}}">{{c.name}}</option>
                            </select>
                        </div>

                        <div class="item item-input text-capitalize">
                            <textarea placeholder="Address" ng-model="profile.address" value=""></textarea>
                        </div>
                        <div class="item item-input text-capitalize">
                            <textarea placeholder="Description" ng-model="profile.description" value=""></textarea>
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Mobile No." ng-model="profile.shopcontact1" value="">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Landline No." ng-model="profile.shopcontact2" value="">
                        </div>

                        <div class="item item-input">
                            <input type="text" placeholder="Email Id" type=email ng-model="profile.shopemail" value="">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Website" type=email ng-model="profile.website" value="">
                        </div>
                        <div class="item item-input item-text-wrap header">
                            <h2>Shops Photos</h2>
                        </div>
                        <div class="item item-input item-text-wrap itemproducts">


                            <div class="input-div" ng-repeat="i in pic" ng-click="changeshopimage(i.id);">
                                <div class="img-profile">
                                    <img ng-src="{{i.photo|serverimage}}">
                                </div>
                            </div>

                            <div class="input-div" ng-if="pic.length==0" ng-click="changeshopimage('');">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>

                            <div class="input-div" ng-if="pic.length==0 || pic.length==1" ng-click="changeshopimage('');">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>


                            <div class="input-div" ng-if="pic.length==0 || pic.length==1 ||  pic.length==2" ng-click="changeshopimage('');">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>

                        </div>

                        <div class="item item-input item-text-wrap header">
                            <h2>Products Photos</h2>
                        </div>
                        <div class="item item-input item-text-wrap itemproducts">

                            <div class="input-div" ng-repeat="i in image" ng-click="changeproductimage(i.id);">
                                <div class="img-profile">
                                    <img ng-src="{{i.photo|serverimage}}">
                                </div>
                            </div>

                            <div class="input-div" ng-if="image.length==0" ng-click="changeproductimage('');">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div" ng-if="image.length==0 || image.length==1" ng-click="changeproductimage('');">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div" ng-if="image.length==0 || image.length==1 ||  image.length==2" ng-click="changeproductimage('');">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>

                        </div>
                        <div class="padding-horizontal btn-rest">
                            <button class="button button-block button-balanced" type="submit" ng-click="profileupdate(profile);updatecat(c);updatearea(a);">Update</button>
                        </div>
                    </div>
                </form>

            </div>

        </ion-list>

    </ion-content>
</ion-view>