<ion-view view-title="Edit Profile">
    <ion-content class="padding">
        <ion-list>
            <div class="incard">
                <form ng-submit="">
                    <div class="list">
                        <div class="profile-img">
                            <img src="{{profile.shoplogo}}">
                            <div class="holder">Edit</div>
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Name" ng-model="profile.shopname">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Area" ng-model="profile.area" value="">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Category" ng-model="profile.category" value="">
                        </div>
                        <div class="item item-input">
                            <textarea placeholder="Address" ng-model="profile.address" value=""></textarea>
                        </div>
                        <div class="item item-input">
                            <textarea placeholder="Description" ng-model="profile.description" value=""></textarea>
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Mobile No." ng-model="profile.shopcontact1" value="">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Landline No." ng-model="profile.shopcontact2" value="">
                        </div>
                      
                        <div class="item item-input">
                            <input type="text" placeholder="Email Id" type=email ng-model="profile.shopemail" value="">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Website" type=email ng-model="profile.website" value="">
                        </div>
                        <div class="item item-input item-text-wrap header">
                            <h2>Shops Photos</h2>
                        </div>
                        <div class="item item-input item-text-wrap itemproducts">
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>

                        </div>
                        <div class="item item-input item-text-wrap header">
                            <h2>Products Photos</h2>
                        </div>
                        <div class="item item-input item-text-wrap itemproducts">
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                        </div>
                        <div class="padding-horizontal btn-rest">
                            <button class="button button-block button-balanced" type="submit" ng-click="profileupdate(profile);">Save</button>
                        </div>
                    </div>
                </form>

            </div>

        </ion-list>

    </ion-content>
</ion-view>