<ion-view view-title="Edit Profile">
    <ion-content class="padding">
        <ion-list>
            <div class="incard">
                <form ng-submit="">
                    <div class="list">
                        <div class="profile-img">
                            <img src="img/applelogo.jpg">
                            <div class="holder">Edit</div>
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Area">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Category">
                        </div>
                        <div class="item item-input">
                            <textarea placeholder="Address"></textarea>
                        </div>
                        <div class="item item-input">
                            <textarea placeholder="Description"></textarea>
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Mobile No.">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Landline No.">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Landline No.">
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Email Id" type=email>
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Website" type=email>
                        </div>
                        <div class="item item-input item-text-wrap header">
                            <h2>Shops Photos</h2>
                        </div>
                        <div class="item item-input item-text-wrap itemproducts">
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>

                        </div>
                        <div class="item item-input item-text-wrap header">
                            <h2>Products Photos</h2>
                        </div>
                        <div class="item item-input item-text-wrap itemproducts">
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="img-profile">
                                    <img src="img/add.png">
                                    <div class="holder2">Edit</div>
                                </div>
                            </div>
                        </div>
                        <div class="padding-horizontal btn-rest">
                            <button class="button button-block button-balanced" type="submit">Save</button>
                        </div>
                    </div>
                </form>

            </div>

        </ion-list>

    </ion-content>
</ion-view>