<ion-view view-title="Profile">
    <ion-content class="padding">
        <div class="incard">
            <div class="profile-img">
                <img src="img/applelogo.jpg">
                <h3>Apple Store</h3>
            </div>

            <div class="list profile-cont">
                <div class="item item-input item-text-wrap header">
                    <h2> Address</h2>
                </div>
                <div class="item item-input item-text-wrap">
                    <div class="input itemproducts">
                        Apple Store, CST, Mumbai-400 001.
                    </div>
                </div>
                <div class="item item-input item-text-wrap header">
                    <h2>Description</h2>
                </div>
                <div class="item item-input item-text-wrap">
                    <div class="input itemproducts">
                        The Apple Store is a chain of retail stores owned and operated by Apple Inc., dealing with computers and consumer electronics.
                    </div>
                </div>
                <ion-item class="item-left">
                    <h2>Cell Number</h2>
                    <div class="pull-right item-right">
                        9892999999
                    </div>
                </ion-item>
                <ion-item class="item-left">
                    <h2>Landline No.</h2>
                    <div class="pull-right item-right">
                        022 25454565
                    </div>
                </ion-item>
                <ion-item class="item-left numbers">
                    <div class="pull-right item-right">
                        022 25454565
                    </div>
                </ion-item>
                <ion-item class="item-left">
                    <h2>Email Id</h2>
                    <div class="pull-right item-right">
                        sohan@gmail.com
                    </div>
                </ion-item>
                <ion-item class="item-left">
                    <h2>Website</h2>
                    <div class="pull-right item-right">
                        http://www.apple.com/
                    </div>
                </ion-item>
                <div class="item item-input item-text-wrap header">
                    <h2>Shops Photos</h2>
                </div>
                <div class="item item-input item-text-wrap itemproducts">
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>

                </div>
                <div class="item item-input item-text-wrap header">
                    <h2>Products Photos</h2>
                </div>
                <div class="item item-input item-text-wrap itemproducts">
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                    <div class="input-div">
                        <div class="img-profile">
                            <img src="img/add.png">
                        </div>
                    </div>
                </div>




                <div class="btn-edit padding-horizontal">
                    <div class="row">
                        <div class="col">
                            <a class="button button-block button-balanced prf-edit" href="#/app/profile/edit">
                                Edit
                            </a>
                        </div>
                        <div class="col">
                            <button class="button button-block button-assertive prf-reset" ng-click="openPassword();">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>

</ion-view>