<ion-view class="bg-xb">
    <ion-content>
        <div class="welcome-img">
            <img src="img/main.png">
        </div>
        <div class="list login-mk">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input">
                <span class="input-label">Number</span>
                <input type="number" placeholder="Number">
            </label>
            <label class="item item-input">
                <span class="input-label">Meassage</span>
                <input type="text" placeholder="Meassage">
            </label>
            <div class="btn-login">
                <a class="button button-block button-balanced" ng-click="closereg();" type="submit">Submit</a>
            </div>
        </div>
    </ion-content>
</ion-view>