<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <h1 class="title">Reset Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModals()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="incard">
            <form ng-submit="doreset()">
                <div class="list">
                    <!--
<div class="item item-input header">
    EnterNew Password
</div>
-->
                    <div class="item item-input">
                        <input type="password" placeholder="Current Password">
                    </div>
                    <div class="item item-input">
                        <input type="password" placeholder="New Password">
                    </div>
                    <div class="item item-input">
                        <input type="password" placeholder="Confirm Password">
                    </div>
                    <div class="padding-vertical btn-rest">
                        <button class="button button-small button-balanced" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-modal-view>