<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <h1 class="title">Reset Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePassword();">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="incard">
            <form ng-submit="doreset()">
                <div class="list">
                    <div class="item item-input">
                        <input type="password" placeholder="Current Password" ng-model="pass.oldpassword">
                    </div>
                    <div class="item item-input">
                        <input type="password" placeholder="New Password" ng-model="pass.newpassword">
                    </div>
                    <div class="item item-input">
                        <input type="password" placeholder="Confirm Password" ng-model="pass.confirmpassword">
                    </div>
                    <div class="padding-horizontal btn-rest">
                        <button class="button button-block button-balanced" ng-click="changepass(pass);" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-modal-view>