<ion-view view-title="Search Result" class="bar-royal">
    <ion-content class="padding searcher">

        <div class="incard pad-btm" ng-if="recall.area.name || recall.category.name">
            <ion-list class="lesspadding">
                <ion-item class="area" ng-if="recall.area.name">
                    <div class="row">
                        <div class="col">
                            <h3>Area</h3>
                        </div>
                        <div class="col">
                            <div class="flt-right">{{recall.area.name}}</div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="category" ng-if="recall.category.name">
                    <div class="row">
                        <div class="col">
                            <h3>Category</h3>
                        </div>
                        <div class="col">
                            <div class="flt-right">{{recall.category.name}}</div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

        <div class="incard">
            <ion-list class="lesspadding" ng-if="shops.length>0">
                <ion-item class="headed">
                    <div class="row">
                        <div class="col">Name</div>
                        <div class="col">Sell Balance</div>
                    </div>
                </ion-item>
                <ion-item href="#/app/shop/{{shop.id}}" ng-click="shopclick(shop);" ng-repeat="shop in shops ">
                    <div class="row">
                        <div class="col prename">{{shop.name}}</div>
                        <div class="col"><span class="balanced amount">Rs.{{shop.sellbalance}}</span>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <h5 ng-if="shops.length==0" style="text-align:center;">No Shop Found</h5>
        </div>

    </ion-content>
</ion-view>