<ion-view view-title="Selling Approval">
    <ion-content>
        <div class="list">
            
            <ion-item class="item item-thumbnail-left">
                <img src="img/logo.png">
                <h2>Name</h2>
                <p>Amount</p>
                <button class="button button-small button-outline button-balanced">
                    Accept
                </button>
                <button class="button button-small button-outline button-assertive">
                    Decline
                </button>
            </ion-item>
           

        </div>

    </ion-content>
</ion-view>