<ion-view view-title="Selling Approval">
    <ion-content class="padding">
        <div class="incard" ng-repeat="r in req">
            <div class="list">
                <ion-item class="item item-thumbnail-left">
                    <div class="row">
                        <div class="col-25">
                            <div class="sell-img">
                                <img src="img/logo.png">
                            </div>
                        </div>
                        <div class="col-75" ng->
                            <div class="sell-cont">
                                <h2>{{r.shopname}}</h2>
                                <p>Amount: {{r.amount}}</p>

                                <button class="button button-small button-outline button-balanced" ng-click="accept(r);">
                                    Accept
                                </button>

                                <button class="button button-small button-outline button-assertive" ng-click=" decline(r);">
                                    Decline
                                </button>
                            </div>
                        </div>
                </ion-item>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>