<ion-view view-title="Selling Approval">
    <ion-content class="padding">
        <div class="incard">
            <div class="list">
                <ion-item class="item item-thumbnail-left">
                    <div class="row">
                        <div class="col-25">
                            <div class="sell-img">
                                <img src="img/logo.png">
                            </div>
                        </div>
                        <div class="col-75">
                            <div class="sell-cont">
                                <h2>Wohlig Technology</h2>
                                <p>Amount: Rs.10,000</p>

                                <button class="button button-small button-outline button-balanced" ng-click="showPopup();">
                                    Accept
                                </button>

                                <button class="button button-small button-outline button-assertive" ng-click=" showPopups();">
                                    Decline
                                </button>
                            </div>
                        </div>
                </ion-item>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>