<ion-view view-title="Shop">
    <ion-content>
        <div class="incard card-shop">
            <ion-list class="lesspadding product-cont">
                <ion-item class="product">
                    <h2>Nokia India</h2>
                    <div class="pull-right balanced amount">
                        Rs.60,000
                    </div>

                </ion-item>
            </ion-list>
            <div class="item item-input item-text-wrap header">
                <h2>Address</h2>
            </div>
            <div class="item item-input item-text-wrap">
                <div class="input itemproducts">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
            </div>
            <div class="item item-input item-text-wrap header">
                <h2> Details</h2>
            </div>
            <div class="item item-input item-text-wrap">
                <div class="input itemproducts">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
            </div>
            <div class="item item-input item-text-wrap header">
                <h2> Shops</h2>
            </div>
            <div class="item item-input item-text-wrap itemproducts">
                <div class="input-div">
                    <div class="img-profile">
                        <img src="img/dookie.jpg">
                    </div>
                </div>
                <div class="input-div">
                    <div class="img-profile">
                        <img src="img/dookie.jpg">
                    </div>
                </div>
                <div class="input-div">
                    <div class="img-profile">
                        <img src="img/dookie.jpg">
                    </div>
                </div>
            </div>
            <div class="item item-input item-text-wrap header">
                <h2>  Products</h2>
            </div>
            <div class="item item-input item-text-wrap itemproducts">
                <div class="input-div">
                    <div class="img-profile">
                        <img src="img/dookie.jpg">
                    </div>
                </div>
                <div class="input-div">
                    <div class="img-profile">
                        <img src="img/dookie.jpg">
                    </div>
                </div>
                <div class="input-div">
                    <div class="img-profile">
                        <img src="img/dookie.jpg">
                    </div>
                </div>
                <!--
               <div class="input">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</div>
-->
            </div>
        </div>
    </ion-content>


    <ion-footer-bar class="footer-shop ion-item balanced" ng-click="openedit();">
        <h4>Purchase</h4>
    </ion-footer-bar>
</ion-view>