<ion-view view-title="Shop">
    <ion-content>
        <div class="incard card-shop">
            <ion-list class="lesshopadding product-cont">
                <ion-item class="product">
                    <h2>Apple India</h2>
                    <div class="pull-right balanced amount">
                        Rs.60,000
                    </div>

                </ion-item>
            </ion-list>
            <ion-item class="item-left">
                <h2>Area</h2>
                <div class="pull-right item-right">
                    {{shop.shopprofile[0].area}}
                </div>
            </ion-item>
            <ion-item class="item-left">
                <h2>Category</h2>
                <div class="pull-right item-right">
                    {{shop.shopprofile[0].category}}
                </div>
            </ion-item>
            <div class="item item-input item-text-wrap header">
                <h2>Address</h2>
            </div>
            <div class="item item-input item-text-wrap">
                <div class="input itemproducts">
                   {{shop.shopprofile[0].address}}
                </div>
            </div>
            <div class="item item-input item-text-wrap header">
                <h2> Details</h2>
            </div>
            <div class="item item-input item-text-wrap">
                <div class="input itemproducts">
                    {{shop.shopprofile[0].description}}
                </div>
            </div>
            <ion-item class="item-left">
                <h2>Cell Number</h2>
                <div class="pull-right item-right">
                    {{shop.shopprofile[0].shopcontact1}}
                </div>
            </ion-item>
            <ion-item class="item-left">
                <h2>Landline No.</h2>
                <div class="pull-right item-right">
                     {{shop.shopprofile[0].shopcontact2}}
                </div>
            </ion-item>
<!--
            <ion-item class="item-left numbers">
                <div class="pull-right item-right">
                    022 25454565
                </div>
            </ion-item>
-->
            <ion-item class="item-left">
                <h2>Email Id</h2>
                <div class="pull-right item-right">
                    {{shop.shopprofile[0].shopemail}}
                </div>
            </ion-item>
            <ion-item class="item-left">
                <h2>Website</h2>
                <div class="pull-right item-right">
                    {{shop.shopprofile[0].website}}
                </div>
            </ion-item>
            <div class="item item-input item-text-wrap itemimage">
                <div class="input-div">
                    <button class="button" ng-click="openpswd();"><img src="img/shop1.png">
                    </button>
                </div>
                <div class="input-div">
                    <button class="button" ng-click="openpswd();"><img src="img/shop2.png">
                    </button>
                </div>
                <div class="input-div">
                    <button class="button" ng-click="openpswd();"><img src="img/shop3.png">
                    </button>
                </div>
            </div>
            <div class="item item-input item-text-wrap header">
                <h2>  Products Photos</h2>
            </div>
            <div class="item item-input item-text-wrap itemimage">
                <div class="input-div">
                    <button class="button" ng-click="openshops();"><img src="img/product1.png">
                    </button>
                </div>
                <div class="input-div">
                    <button class="button" ng-click="openshops();"><img src="img/product2.png">
                    </button>
                </div>
                <div class="input-div">
                    <button class="button" ng-click="openshops();"><img src="img/product3.png">
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="footer-shop ion-item balanced" ng-click="callpurchase(shop);">
        <h4>Purchase</h4>
    </ion-footer-bar>
</ion-view>