<ion-view view-title="Shop">

    <ion-footer-bar class="footer-shop ion-item balanced" ng-click="callpurchase(profile);" ng-if="shopid!=userid">
        <h4>Purchase</h4>
    </ion-footer-bar>

    <ion-content ng-class="{'has-footer' : shopid!=userid}" >
        <div class="incard card-shop">
            <ion-list class="lesshopadding product-cont">
                <ion-item class="product">
                    <h2>{{profile.shopname}}</h2>
                    <div class="pull-right balanced amount">
                        {{profile.salesbalance}}
                    </div>
                </ion-item>
            </ion-list>
            <ion-item class="item-left">
                <h2>Area</h2>
                <div class="pull-right item-right">
                    {{profile.area}}
                </div>
            </ion-item>
            <ion-item class="item-left">
                <h2>Category</h2>
                <div class="pull-right item-right">
                    {{profile.category}}
                </div>
            </ion-item>
            <div class="item item-text-wrap header">
                <h2>Address</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="itemproducts">
					<p> {{profile.address}} </p>
                </div>
            </div>
            <div class="item item-text-wrap header">
                <h2> Details</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="itemproducts">
                   <p>{{profile.description}}</p> 
                </div>
            </div>
            <ion-item class="item-left">
                <h2>Cell Number</h2>
                <div class="pull-right item-right">
                    {{profile.shopcontact1}}
                </div>
            </ion-item>
            <ion-item class="item-left">
                <h2>Landline No.</h2>
                <div class="pull-right item-right">
                    {{profile.shopcontact2}}
                </div>
            </ion-item>

            <ion-item class="item-left">
                <h2>Email Id</h2>
                <div class="pull-right item-right">
                    {{profile.shopemail}}
                </div>
            </ion-item>
            <ion-item class="item-left">
                <h2>Website</h2>
                <div class="pull-right item-right">
                    {{profile.website}}
                </div>
            </ion-item>
            <div class="item item-input item-text-wrap header" ng-if="shoppic.length>0">
                <h2>Shops Photos</h2>
            </div>
            <div class="row">
                <div class="col input-div" ng-repeat="s in shoppic">
                    <button class="button" ng-click="openpswd();">
                        <img ng-src="{{s.photo|serverimage}}" class="full-size">
                    </button>
                </div>

            </div>
            <div class="item item-input item-text-wrap header" ng-if="img.length>0">
                <h2>  Products Photos</h2>
            </div>
            <div class="row">
                <div class="col input-div" ng-repeat="i in img">
                    <button class="button" ng-click="openshops();">
<!--                    <a class="button border-none" href="#/app/productdetail">-->
                        <img ng-src="{{i.photo|serverimage}}" class="full-size">
<!--                    </a>-->
                    </button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>