<ion-view view-title="Your Balance">
    <ion-content>
        <div class="row text-center">
            <div class="col">
             
                    <h4>Rs.100</h4>
               
                <div class="label-name">
                    <h4>Purchase Balance</h4>
                </div>
               
            </div>
            <div class="col">
               
                    <h4>Rs.100</h4>
               
                <div class="label-name">
                    <h4>Sell Balance</h4>
                </div>
               
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="openedit();">Add Balance</button>
        </div>
    </ion-content>
</ion-view>