<ion-view view-title="Your Balance">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="label-name">
                    <h5>Purchase Balance</h5>
                </div>
                <label class="item item-input">
                    <span class="input-label">Rs</span>
                    <input type="text">
                </label>
            </div>
            <div class="col">
                <div class="label-name">
                    <h5>Sell Balance</h5>
                </div>
                <label class="item item-input">
                    <span class="input-label">Rs</span>
                    <input type="text">
                </label>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive btn-small" ng-click="openedit();">Add Balance</button>
        </div>
    </ion-content>
</ion-view>